$primary: #C9DA2B;
$gray: #F9F9F9;
$white: #fff;
$gray-light: #9A9A9A;
$dark: #272727;
$danger: #DC2626;

body {
  color: $dark !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* Colors */
.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}
.bg-gray {
  background-color: $gray !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-light {
  color: $gray-light;
}
.bg-dark {
  background-color: $dark !important;
}
.bg-transparent{
  background-color: transparent !important;
}
.text-dark {
  color: $dark !important;
}
.text-danger{
  color: $danger !important;
}
.bg-danger{
  background-color: $danger !important;
}
/* Heading */
h1,
.h1{
  font-weight: bold !important;
  font-size: clamp(28px, 4vw, 48px) !important;
}
h2 {
  font-weight: 600 !important;
  font-size: clamp(24px, 3vw, 36px) !important;
}

/* Buttons */
.btn {
  padding: 12px 31px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: $dark;
  display: flex;
  align-items: center;
  gap: 8px;
  // Primary Button
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 4px 7px 0 #00000025;
    color: $dark !important;
    &:hover,
    &:focus,
    &:focus-visible,
    &:active,
    &:disabled,
    &:active {
      background-color: $primary !important;
      border-color: $primary !important;
      box-shadow: none !important;
      color: $dark !important;
    }
  }
  // Outline Dark Button
  &.btn-outline-dark {
    border-color: $dark;
    color: $dark;
    background-color: transparent !important;
    &:hover,
    &:focus,
    &:active,
    &:disabled,
    &.active {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

/* Card */
.custom-card {
  box-shadow: 0 4px 13px 0 #00000010;
  background-color: $gray;
  border-radius: 10px;
  padding: 15px;
  border-left: 4px solid $primary;
  margin: 10px;
}

/* Styling */

.custom-select{
      position: relative;
      width: 100%;
      user-select: none;
      border: 1px solid #DADADA;
      border-radius: 10px;
      background: #fff;
      transition: all 0.3s ease;
      &:hover {
        border-color: $primary;
      }
      &.open {
        .select-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
        .select-options {
          display: block;
        }
      }
      .select-selected {
        padding: 12px 40px 12px 14px;
        font-size: 14px;
        color: #333;
        cursor: pointer;
      }
      .select-arrow {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        font-size: 14px;
        color: #666;
        pointer-events: none;
        transition: transform 0.3s ease;
      }
      .select-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid #DADADA;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 4px;
        z-index: 10;
        display: none;
        max-height: 180px;
        overflow-y: auto;
        padding: 0;
        li {
          padding: 10px 14px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          transition: background 0.2s ease;
          &:hover {
            background: #EEF4BD;
          }
        }
      }
}
.input-wrapper {
  input,
  select,
  textarea {
    max-height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DADADA;
    padding: 12px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      border-color: $primary;
      outline: none;
      box-shadow: none;
    }
  }
}
.no-before::before {
  display: none !important;
}
/* Remove spinner buttons */
  input[type="number"],
  input[type="tel"]::-webkit-inner-spin-button,
  input[type="number"],
  input[type="tel"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
.fs-18{
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: $gray-light;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;

  &:hover {
    background: #555;
  }
}


.eye-icon.active .slash { stroke: none; }
.btn-back {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}
.topbar {
  margin-bottom: 40px;
  .icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
  }
  .icon.delete {
    background-color: #DC2626 !important;
    border: transparent;
  }
}

body {
  //.search-wrapper {
  //  min-width: 500px;
  //}
  //.search-contractors {
  //  .select2-container {
  //    min-width: 500px;
  //  }
  //}
  //.select2-container {
  //  .select2-selection {
  //    height: 40px;
  //    border-color: #DADADA;
  //    border-radius: 10px;
  //    .select2-selection__rendered {
  //      padding: 5px 10px;
  //    }
  //  }
  //  .select2-selection__arrow {
  //    top: 50% !important;
  //    transform: translate(-50%, -50%)
  //  }
  //}
  //.select2-dropdown--below {
  //  border-color: #DADADA;
  //  .select2-search__field {
  //    border-radius: 8px;
  //    border-color: #DADADA !important;
  //    background-color: #efefef;
  //  }
  //  .select2-results__options {
  //    .select2-results__option {
  //      color: #333342;
  //      background-color: #F8F9FA;
  //      margin: 2px 0;
  //      padding: 5px 10px;
  //      > span {
  //        display: flex;
  //        justify-content: space-between;
  //        font-weight: 500;
  //      }
  //      .btn {
  //        font-size: 12px;
  //        padding: 5px 15px;
  //        &:hover,
  //        &:focus {
  //          background-color: $primary !important;
  //        }
  //      }
  //    }
  //  }
  //}

  .react-datepicker__month-container {
    .react-datepicker__header {
      .react-datepicker__current-month {
        font-size: 14px !important;
      }
    }
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    color: $dark;
    background-color: $primary;
  }
  .react-datepicker__day--selected:not([aria-disabled=true]):hover,
  .react-datepicker__day--in-selecting-range:not([aria-disabled=true]):hover,
  .react-datepicker__day--in-range:not([aria-disabled=true]):hover,
  .react-datepicker__month-text--selected:not([aria-disabled=true]):hover,
  .react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover,
  .react-datepicker__month-text--in-range:not([aria-disabled=true]):hover,
  .react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover,
  .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover,
  .react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover,
  .react-datepicker__year-text--selected:not([aria-disabled=true]):hover,
  .react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover,
  .react-datepicker__year-text--in-range:not([aria-disabled=true]):hover {
    color: $white;
    background-color: rgb(28.75, 93.2196969697, 143.75);
  }
  .quill {
    .ql-toolbar {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .ql-container {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.modal.show.d-block {
  display: block !important;
  opacity: 1;
  pointer-events: auto;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.form-check-input:checked {
  background-color: #8F9B1F;
  border-color: #8F9B1F;
}
.form-check-input:focus {
  border-color: #8F9B1F;
  box-shadow: 0 0 0 .25rem rgba(174, 253, 75, 0.25);
}
.input-wrapper {
  .react-datepicker-wrapper {
    display: block;
    width: 100%;
  }
}
.form-control{
  .select2-selection__rendered{
    display: none;
  }
}
.select2-selection{
  height: 45px !important;
  padding: 8px;
  outline: none !important;
  font-size: 14px !important;
  transition: all 0.3s
  ease !important;
  border-radius: 10px !important;
  border: 1px solid #DADADA !important;
  &:hover{
    border: 1px solid $primary;
  }
}
.select2-results__option{
  background-color: transparent !important;
  padding: 10px 16px !important;
  font-size: 14px !important;
  color: #272727 !important;
}
.select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #EEF4BD !important;
}
.select2-search__field{
  padding: 10px 16px !important;
  font-size: 14px !important;
  color: #272727 !important;
  outline: none !important;
  border: 1px solid #dadada !important;
}
.select2-selection__arrow{
  top: 8px !important;
  right: 8px !important;
}

.banner-sec.trial {
  padding: 50px 0;
}
.dropdown.hide-arrow {
  a {
    &:after {
      display: none;
    }
  }
}
.slick-slider {
  .slick-arrow {
    top: auto;
    bottom: 0;
    transform: translate(0, 0)
  }
  .slick-arrow.slick-prev {
    left: 20px
  }
  .slick-arrow.slick-next {
    left: 50px
  }
}
